canvas {
	margin: 20px auto;
	outline:none;
	display:block;
}

body {
	background-color:rgb(240,220,190);
	color:rgb(3,180,250);
	color:rgb(100,70,30);
	font-family:courier;
	font-size:12pt;
}

a {
	color:rgb(100,70,30);
}